<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelKayit.Properties.Settings.PersonelVeriTabaniConnectionString"
            connectionString="Data Source=DESKTOP-A53JT4E\SQLEXPRESS;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>